@page
@using CityOfCincy.Models;
@model CityOfCincy.Pages.ChicagoDataDetailedModel
@{

    ViewData["Title"] = (string)ViewData["Status"] + " Result";

    var SearchData = (List<ChicagoHousingResponse>)ViewData["ChicagoSearchData"];
}

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Address</th>
            <th>Managing Organization</th>
            <th>Square Feet</th>
            <th>Area Name</th>
            <th>Pincode</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in SearchData)
        {
            <tr>
                <td>@item.address</td>
                <td>@item.managing_organization</td>
                <td>@item.sq_ft</td>
                <td>@item.community_area_name</td>
                <td>@item.zip_code</td>
            </tr>
        }
    </tbody>
</table>